
<div>
	<h2>
		<span data-translate="devladApp.developer.detail.title">Developer</span>
		{{vm.developer.name}}
	</h2>
	<hr>
	<jhi-alert-error></jhi-alert-error>


	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<img src="content/images/demon-hunter-male_1.jpg">
			</div>

			<dl class="jh-entity-details">
				<dt>
					<span data-translate="devladApp.developer.identifier">Identifier</span>
				</dt>
				<dd>
					<span>{{vm.developer.identifier}}</span>
				</dd>
				<dt>
					<span data-translate="devladApp.developer.description">Description</span>
				</dt>
				<dd>
					<span>{{vm.developer.description}}</span>
				</dd>
				<dt>
					<span data-translate="devladApp.developer.level">Level</span>
				</dt>
				<dd>
					<span data-translate="{{'devladApp.Level.' + vm.developer.level}}">{{vm.developer.level}}</span>
				</dd>
				<dt>
					<span data-translate="devladApp.developer.experiencePoints">Experience
						Points</span>
				</dt>
				<dd>
					<span>{{vm.developer.experiencePoints}}</span>
				</dd>
			</dl>



			<div class="table-responsive">
				<table class="jh-table table table-striped" style="width: 70%">
					<tbody>
						<tr
							ng-repeat="learnedSkill in vm.learnedSkills track by learnedSkill.id">
							<td><a ui-sref="skill-detail({id:learnedSkill.skill.id})">{{learnedSkill.skill.name}}</a></td>
							<td data-translate="{{'devladApp.Level.' + learnedSkill.level}}">{{learnedSkill.level}}</td>
							<td>{{learnedSkill.exp}}</td>
							<td class="text-right">
								<div class="btn-group flex-btn-group-container">
									<button type="submit"
										ui-sref="learned-skill-detail({id:learnedSkill.id})"
										class="btn btn-info btn-sm">
										<span class="glyphicon glyphicon-eye-open"></span> <span
											class="hidden-sm-down" data-translate="entity.action.view"></span>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center" style="width: 70%">
					<jhi-item-count page="vm.page" total="vm.queryCount"
						items-per-page="vm.itemsPerPage"></jhi-item-count>
					<uib-pagination class="pagination-sm" total-items="vm.totalItems"
						items-per-page="vm.itemsPerPage" ng-model="vm.page"
						ng-change="vm.transition()"></uib-pagination>
				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-xs-4">
				<button type="submit" ui-sref="{{ vm.previousState }}"
					class="btn btn-info">
					<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
						data-translate="entity.action.back"> Back</span>
				</button>

				<button type="button" has-authority="ROLE_ADMIN"
					ui-sref="developer-detail.edit({id:vm.developer.id})"
					class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span> <span
						class="hidden-sm-down" data-translate="entity.action.edit">
						Edit</span>
				</button>
			</div>
		</div>
	</div>
</div>