<div>
    <h2 data-translate="devladApp.developer.home.title">Developers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
<!--                 <button class="btn btn-primary" ui-sref="developer.new" > -->
					<button class="btn btn-primary disabled" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="devladApp.developer.home.createLabel">
                        Create new Developer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
<!--                     <TH JH-SORT-BY="ID"><SPAN DATA-TRANSLATE="GLOBAL.FIELD.ID">ID</SPAN> <SPAN CLASS="GLYPHICON GLYPHICON-SORT"></SPAN></TH> -->
                    <th jh-sort-by="identifier"><span data-translate="devladApp.developer.identifier">Identifier</span> <span class="glyphicon glyphicon-sort"></span></th>
<!--                     <th jh-sort-by="description"><span data-translate="devladApp.developer.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="level"><span data-translate="devladApp.developer.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="experiencePoints"><span data-translate="devladApp.developer.experiencePoints">Experience Points</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="developer in vm.developers track by developer.id">
<!--                     <td><a ui-sref="developer-detail({id:developer.id})">{{developer.id}}</a></td> -->
                    <td>{{developer.identifier}}</td>
<!--                     <td>{{developer.description}}</td> -->
                    <td data-translate="{{'devladApp.Level.' + developer.level}}">{{developer.level}}</td>
                    <td>{{developer.experiencePoints}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="developer-detail({id:developer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="developer.edit({id:developer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="developer.delete({id:developer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
