
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLearnedSkillLabel" data-translate="devladApp.learnedSkill.home.createOrEditLabel">Create or edit a Learned Skill</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.learnedSkill.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.learnedSkill.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.learnedSkill.learned" for="field_learned">Learned</label>
                <div class="input-group">
                    <input id="field_learned" type="text" class="form-control" name="learned" datetime-picker="{{dateformat}}" ng-model="vm.learnedSkill.learned" is-open="vm.datePickerOpenStatus.learned"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('learned')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.learned.$invalid">
                <p class="help-block"
                    ng-show="editForm.learned.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.learned.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.learnedSkill.signed" for="field_signed">Signed</label>
            <input type="text" class="form-control" name="signed" id="field_signed"
                    ng-model="vm.learnedSkill.signed"
                    required/>
            <div ng-show="editForm.signed.$invalid">
                <p class="help-block"
                    ng-show="editForm.signed.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.learnedSkill.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.learnedSkill.level" id="field_level" required>
                <option value="D1" data-translate="devladApp.Level.D1">D1</option>
                <option value="D2" data-translate="devladApp.Level.D2">D2</option>
                <option value="D3" data-translate="devladApp.Level.D3">D3</option>
                <option value="D4" data-translate="devladApp.Level.D4">D4</option>
            </select>
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.learnedSkill.exp" for="field_exp">Exp</label>
            <input type="number" class="form-control" name="exp" id="field_exp"
                    ng-model="vm.learnedSkill.exp"
                    required min="0"/>
            <div ng-show="editForm.exp.$invalid">
                <p class="help-block"
                    ng-show="editForm.exp.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.exp.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be at least 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.exp.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="devladApp.learnedSkill.developer" for="field_developer">Developer</label>
            <select class="form-control" id="field_developer" name="developer" ng-model="vm.learnedSkill.developer" ng-options="developer as developer.identifier for developer in vm.developers track by developer.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.developer.$invalid">
            <p class="help-block"
                ng-show="editForm.developer.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="devladApp.learnedSkill.skill" for="field_skill">Skill</label>
            <select class="form-control" id="field_skill" name="skill" ng-model="vm.learnedSkill.skill" ng-options="skill as skill.name for skill in vm.skills track by skill.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.skill.$invalid">
            <p class="help-block"
                ng-show="editForm.skill.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
