<div>
    <h2 data-translate="devladApp.learnedSkill.home.title">Learned Skills</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="learned-skill.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="devladApp.learnedSkill.home.createLabel">
                        Create new Learned Skill
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="learned"><span data-translate="devladApp.learnedSkill.learned">Learned</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signed"><span data-translate="devladApp.learnedSkill.signed">Signed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="level"><span data-translate="devladApp.learnedSkill.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exp"><span data-translate="devladApp.learnedSkill.exp">Exp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="developer.identifier"><span data-translate="devladApp.learnedSkill.developer">Developer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="skill.name"><span data-translate="devladApp.learnedSkill.skill">Skill</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="learnedSkill in vm.learnedSkills track by learnedSkill.id">
                    <td><a ui-sref="learned-skill-detail({id:learnedSkill.id})">{{learnedSkill.id}}</a></td>
                    <td>{{learnedSkill.learned | date:'medium'}}</td>
                    <td>{{learnedSkill.signed}}</td>
                    <td data-translate="{{'devladApp.Level.' + learnedSkill.level}}">{{learnedSkill.level}}</td>
                    <td>{{learnedSkill.exp}}</td>
                    <td>
                        <a ui-sref="developer-detail({id:learnedSkill.developer.id})">{{learnedSkill.developer.identifier}}</a>
                    </td>
                    <td>
                        <a ui-sref="skill-detail({id:learnedSkill.skill.id})">{{learnedSkill.skill.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="learned-skill-detail({id:learnedSkill.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="learned-skill.edit({id:learnedSkill.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="learned-skill.delete({id:learnedSkill.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
