
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySkillRequestLabel" data-translate="devladApp.skillRequest.home.createOrEditLabel">Create or edit a Skill Request</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.skillRequest.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.skillRequest.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.skillRequest.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.skillRequest.created" is-open="vm.datePickerOpenStatus.created"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.created.$invalid">
                <p class="help-block"
                    ng-show="editForm.created.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.skillRequest.requestor" for="field_requestor">Requestor</label>
            <input type="text" class="form-control" name="requestor" id="field_requestor"
                    ng-model="vm.skillRequest.requestor"
                    required/>
            <div ng-show="editForm.requestor.$invalid">
                <p class="help-block"
                    ng-show="editForm.requestor.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.skillRequest.description" for="field_description">Description</label>
<!--             <input type="text" class="form-control" name="description" id="field_description" -->
<!--                     ng-model="vm.skillRequest.description" -->
<!--                     required/> -->
			<textarea rows="4" cols="10" class="form-control" name="description" id="field_description"
                    ng-model="vm.skillRequest.description"></textarea>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="devladApp.skillRequest.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.skillRequest.status" id="field_status" required>
                <option value="REQUESTED" data-translate="devladApp.SkillRequestStatus.REQUESTED">REQUESTED</option>
                <option value="DELETED" data-translate="devladApp.SkillRequestStatus.DELETED">DELETED</option>
                <option value="INPROGRESS" data-translate="devladApp.SkillRequestStatus.INPROGRESS">INPROGRESS</option>
                <option value="PERFORMED" data-translate="devladApp.SkillRequestStatus.PERFORMED">PERFORMED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
